@model ExampleClient.Views.GetClientClaims

@{
    ViewBag.Title = "GetClientClaims";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>These are the claims this client has</title>
</head>
<body>
<div>
    These are the claims this client has, pulled out by the protected Api.
</div>
<div>
    
</div>
</body>
</html>